.head{
    display: flex;
    gap: 650px;
       margin: 0 100px 0 50px;

}
#salad{
    margin-top: 24px;
}
#back{
    background-image: url("./image/back.jpg");
    color: #fff;
    text-align: center;
    padding: 120px 0;
    font-size: xx-large;
}
#new{
    background-color: blue;
    padding: 40px;
    color: antiquewhite;
    font-size: 2em;
   text-align: center;
}
#inp{
    padding: 10px 20px;
    border-radius: 5px;
    color: rgb(14, 41, 152);
    font-weight: bold;
}
button{
    padding: 8px 15px;
    background-color: aqua;
    border-radius: 5px;
    color: rgb(134, 90, 31);
}
.image{
    border-radius: 10px 10px 0px 0px;
    
}

.card{
    width: 18rem;
    border: solid black 1px;
    border-radius: 10px;
    text-align: center;

}
#showCase{
    padding: 20px;
    display: flex;
    justify-content: space-between;
background-color: rgb(236, 235, 233);
}

.about{
    text-align: center;
}

#foot{
    text-align: center;
}

#sidebar{
background-color: green;
padding: 40px;
}
#sidebarHeader{
    color: rgb(80, 28, 129);
    text-decoration: underline;
    text-align: center;
}
.date{
    border: solid 2px rgb(255, 0, 183);
    background-color: rgba(239, 192, 131, 0.961); 
    text-align: center;
    padding: 100px;
    margin: 10px;
}
#like{
    background-color:rgb(80, 28, 129) ;
    color: yellow ;
    padding: 20px 50px 20px 50px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}





@media screen and (max-width:600px) {
    #showCase{
        display: block;
    }
    .card{
        margin: 10px auto;
        width: 20rem;
    }
    .image{
        margin: 20px ;
        border-radius: 10px;
    }
    .head{
        display: flex;
       gap: 0px;
       margin: 0;
    }
    #foot{
        margin-top: 200px;
    }
    .date{
        padding: 50px;
    }

}